<html>
<head>
  <title>Harvest Calculator</title>
</head>
<body>
  <form method="post" action="{{ url_for('calculate') }}">
    <label for="dropdown">Select Monster Type:</label>
    <select name="dropdown" id="dropdown">
      {% for key, value in options.items() %}
        <option value="{{ key }}">{{ key }}</option>
      {% endfor %}
    </select>
    <br>
    <label for="number">Enter Monster CR:</label>
    <input type="number" name="number" id="number" min="0" max="50">
    <br>
    <label for="text">Enter Components:</label>
    <input type="text" name="text" id="text">
    <br>
    <input type="submit" value="Calculate">
  </form>
  <br>
  <form>
    <input type="submit" value="Reset" onclick="location.reload()">
</form>
<br>
  <div id="result">
      {% if result %}
        {{ result|replace('\n','<br>') }}
      {% endif %}
  </div>
</body>
</html>
