<html>
<head>
  <title>Harvest Calculator</title>
</head>
<body>
  <form method="post" action="{{ url_for('dict_select') }}">
    <label for="dropdown">Select Monster Type:</label>
    <br>
    <select name="dropdown" id="dropdown">
      {% for key, value in options.items() %}
        <option value="{{ key }}">{{ key }}</option>
      {% endfor %}
    </select>
    <br>
    <br>
    <input type="submit" value="Select Monster Type" onclick="dict_select">
    <br>
    <br>
  </form>
    <label for="components">Select Component:</label>
    <br>
    <select name="components" id="components">
      <option value="default">Select a component</option>
      {% for key, value in options2.items() %}
        <option value="{{ key }}">{{ key }}</option>
      {% endfor %}

    </select>
    <div id="button-container"></div>
    <br>
    <form method="post" action="{{ url_for('calculate') }}">
      <label for="number">Enter Monster CR:</label>
      <br>
      <input type="range" name = "number" min="0" max="50" value="25" id="slider" onchange="updateValue()"> 
      <span id="sliderValue">25</span>
      <script>
          var slider = document.getElementById("slider");
          var value = document.getElementById("sliderValue");
          slider.addEventListener("input", function() {
          value.innerHTML = this.value;
          });
          function updateValue() {
            var slider = document.getElementById("slider");
            var value = document.getElementById("sliderValue");
            value.innerHTML = slider.value;
          }
      </script>
      <input type="hidden" name = "monster_type" value="{{monster_type}}" id="monster_type">
      <input type="hidden" name = "resultString" id="resultString">
      <br>
    <input type="submit" value="Calculate" id="calculate-button">
  </form>
  <br>
  <form method="GET" action="/">
    <input type="submit" value="Reset" onclick="location.reload()">
  </form>
  <br>
  <div id="result">
    {% if result %}
    {% for res in result%}
        
        {{res}}

        <br>
        
    {% endfor%}
  {% endif %}
  </div>
  <script>
    var select = document.getElementById("components");
    var buttonContainer = document.getElementById("button-container");
    select.addEventListener("change", function() {
    if (this.value !== "default") {
      var button = document.createElement("button");
      button.innerHTML = this.value;
      buttonContainer.appendChild(button);
      button.addEventListener("click", function() {
        buttonContainer.removeChild(this);
      });
      select.value = "default";
    }
  });
  var calculateButton = document.getElementById("calculate-button");
  var resultString = "";
  calculateButton.addEventListener("click", function() {
    var buttons = buttonContainer.getElementsByTagName("button");
    for (var i = 0; i < buttons.length; i++) {
      resultString += buttons[i].innerHTML + ",";
    }
    document.getElementById("resultString").value = resultString;
  });
  </script>
</body>
</html>