<!DOCTYPE html>
<html>
<head>
    <title>Infinite Dropdown Menus</title>
</head>
<body>
    <form>
        <div id="dropdown-container">
            {% for key, value in data.items() %}
                <select id="{{ key }}" onchange="loadSubMenu(this)">
                    <option value="" selected disabled>{{ key }}</option>
                    {% for sub_key, sub_value in value.items() %}
                        <option value="{{ sub_key }}">{{ sub_key }}</option>
                    {% endfor %}
                </select>
            {% endfor %}
        </div>
    </form>
    <script>
        function loadSubMenu(elem) {
            var sub_menu = document.createElement("select");
            var sub_data = {{ data|tojson }};
            var sub_options = "";
            var parent_menu = elem.id;
            var selected_option = elem.value;
            for (var key in sub_data[parent_menu][selected_option]) {
                sub_options += "<option value='" + key + "'>" + key + "</option>";
            }
            sub_menu.innerHTML = sub_options;
            sub_menu.onchange = function() { loadSubMenu(this); };
            elem.parentNode.appendChild(sub_menu);
        }
    </script>
</body>
</html>
